.listDiv {
  width: 40%;
  height: 100vh;
  background-color: burlywood;
  z-index: 3;
}
.eachHotel {
  background-color: #ffff;
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
.hotelImage {
  width: 100px;
  height: 100px;
}
.hotelImg {
  width: inherit;
  height: inherit;
}
.ratings {
}
